.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3 {
    text-align: left;
    color: rgba(54, 48, 44, 1);
    font-size: 36px;
    font-weight: 800;
    margin: 0 0 30px 0;
    line-height: 38px;
  }

  button {
    color: rgba(54, 48, 44, 1);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    max-width: 500px;
    margin-top: 20px;
  }
}

.image-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img {
    width: 55%;
    height: 55%;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    margin-right: 20px;
    flex-grow: 1;
  }
}
