<h3>Contact Us</h3>
<p>Please fill out the form elow to let us know how we can help</p>

<fieldset>
  <form #contactForm="ngForm">
    <div class="form-group">
      <label for="full_name">Full name</label>
      <input
        type="text"
        name="fullName"
        id="full_name"
        value=""
        required
        [(ngModel)]="fullName"
        #fullName="ngModel"
      />

      @if (fullName.invalid && fullName.touched) {
      <div class="alert alert-danger">Name is required</div>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="model.email"
        required
        value=""
        #email="ngModel"
        id="email"
      />

      @if (email.invalid && email.touched) {
      <div class="alert alert-danger">Email is required</div>
      }
    </div>

    <div class="form-group">
      <label for="email">Phone</label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="model.phone"
        placeholder="Phone number"
        value=""
        #phone="ngModel"
        id="phone"
      />
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        id="comment"
        name="comment"
        [(ngModel)]="model.comment"
        required
        #comment="ngModel"
      ></textarea>
      @if (comment.invalid && comment.touched) {
      <div class="alert alert-danger">Comment is required</div>
      }
    </div>

    <button
      [disabled]="contactForm.invalid"
      class="btn btn-primary"
      type="submit"
      name="submit"
      id="submit"
      (click)="submitForm(model)"
    >
      Submit
    </button>
    <button type="button" class="btn btn-danger" (click)="clearForm()">Cancel</button>
  </form>
</fieldset>
